{{ define "main" }}
<div class="big-section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <h1 class="title is-1">{{ .Title }}</h1>
            </div>
            <div class="column">
                <p>From quartz, granite to solid surface and everything in between, CK Designs is the only countertop supplier you’ll ever need! During our free in-home consultation, we’ll discuss the incredible array of countertop options available to you and what will best suit your unique tastes and needs.</p>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns is-vcentered pb-6">
            <div class="column">
                <img src="/uploads/whitecounter.jpg" alt="kitchen white countertop">
            </div>
            <div class="column">
                <h2 class="title is-2">Kitchen Cabinets</h2>
                <p>From designing your space to choosing the perfect new cabinet, CK Designs is there to help make your kitchen redesign complete. We have a selection of cabinets that can customize a design that’s perfect for your space.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns is-vcentered pb-6">
            <div class="column">
                <h2 class="title is-2">Bathroom Cabinets</h2>
                <p>Bring your bathroom into the 21st century with beautiful cabinetry from CK Designs. Our cabinets are ready-to-install and made of the very best materials available. We can also custom-design a cabinet system for you.</p>
            </div>
            <div class="column">
                <img src="/uploads/bathroomcabinets.jpg" alt="navy blue bathroom cabinets">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns is-vcentered pb-6">
            <div class="column">
                <img src="/uploads/hardware.jpg" alt="kitchen sink with rose gold faucet">
            </div>
            <div class="column">
                <h2 class="title is-2">Hardware</h2>
                <p>Your cabinets aren’t worth much if you can’t open them. CK Designs will match excellent handles and knobs to any cabinet system we design for you. We have endless varieties and styles. Let us bring your vision to life! </p>
            </div>
        </div>
    </div>
</div>
{{ end }}