html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

a.primary-btn {
    background: transparent;
    color: #666666;
    border: 1px solid black;
    padding: 15px 70px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    transition: .3s;

}

a.primary-btn:hover {
    color: #fff;
    background: black;
    transition: .3s;
}

div.container.is-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

div.big-section {
    padding: 5rem 2rem;
}

div.section {
    padding: 3rem 2rem;
}

main {
    padding-top: 50px;
    padding-bottom: 100px;
}

body p {
    font-family: 'Mulish', "Times", Arial, sans-serif;
    line-height: 2;
    font-weight: 100;
    font-size: 14px;
}

body strong,
time {
    font-family: 'Mulish', "Times", Arial, sans-serif;
}

div.content a {
    color: #5497df;
}

div.content.single-content p {
    font-weight: 300;
}

body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 500;
    color: #000;
 }

body h1.subtitle,
body h2.subtitle,
body h3.subtitle,
body h4.subtitle,
body h5.subtitle,
body h6.subtitle {
    font-family: 'Raleway', sans-serif;
    color: #5497df;
}

/* FORMS */
input.input,
textarea.textarea {
    background: transparent;
    border-radius: 0;
    color: #fff;
    height: 50px;
}

button.button {
    background: transparent;
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
    color: #000;
    padding: 30px 50px;
    appearance: none;
    -webkit-appearance:none;
    transition: all .2s ease;
}

button.button:hover {
    background: #000;
    color: #fff;
    transition: all .2s ease;
}

input.input::placeholder,
textarea.textarea::placeholder {
    color: #000;
    font-size: 14px;
}

/* SLICK CAROUSEL */


button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 100;
    bottom: 40px;
    right: 10%;
    background: none;
    box-shadow: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

button.slick-next.slick-arrow {
    position: absolute;
    right: 5%;
    bottom: 40px;
    background: none;
    box-shadow: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    z-index: 100;

}

div.home-slide:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18%;
    height: 120px;
    background: rgb(0 0 0 / 70%);
    z-index: 1;
}

@media screen and (max-width:768px){
    div.home-slide:after {
        display: none;
    }
}

/* HERO */

.hero-body.slide-content {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

a.hero-button:hover {
    color: #5497df;
    transition: width .3s ease;
}

section.hero.slick-slide {
    display: flex;
}

h1.title.hero-title {
    font-size: 4rem;
}

.section.hero-foot:after {
    content: "";
    position: absolute;
    bottom: -75px;
    width: 1px;
    height: 150px;
    background: rgba(151, 151, 151, .7);
    margin: 0 auto;
    left: 0;
    right: 0;
    
}

  /** Hero Text Animation **/
  
  @-webkit-keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
  }
  
  .slick-active .slide-content {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;
    width: 100%;
  }
  
  /* Text Animation End **/


  
/* BANNER */

.page-banner {
    margin-top: -53px;
}

/* NAVBAR */

/* div.hero-head {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
} */

span.navbar-burger {
    color: #fff;
}

nav.navbar {
    background: transparent;
    border-bottom: 1px solid rgb(224 224 224 / 26%);
    padding-top: 15px;
    padding-bottom: 15px;}

a.navbar-item img {
    max-height: 3.75rem;
}

div.navbar-brand {
    align-items: center;
}

a.navbar-item,
a.navbar-link,
.navbar-dropdown a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    transition: color .3s ease;
    font-size: 14px;
}

a.navbar-link:not(.is-arrowless)::after {
    border-color: white;
}

div a.navbar-item:hover {
    background: none;
    color: #5497df;
    transition: color .3s ease;
}

a.navbar-link:hover {
    color: #fff;
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
    background: transparent!important;
}

@media screen and (min-width: 1024px){
    .navbar-dropdown a.navbar-item {
        color: black;
    }
    div.navbar-dropdown {
        border-top: 2px solid #5497df;
    }
}

@media (max-width: 1023px){
    .navbar-end {
        display: flex;
        -ms-display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }

    .navbar-menu {
        left: 20px;
        -webkit-transition: all 1s ease;

    }

    .navbar-menu.is-active {
        position: absolute;
        left: 0;
        right: 0;
        top: -30px;
        background: black;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navbar-menu.is-active a.navbar-link,
    .navbar-menu.is-active a.navbar-item {
        color: #fff!important;
    }

    .navbar-burger.burger {
        background:rgb(39 39 39 / 40%); 
        transition: background .2s ease;
    }

    .navbar-burger.burger:hover {
        background: #c8c8c8;
        transition: background .2s ease;
    }

    .navbar-burger {
        z-index: 10;
    }

    /* MOBILE DROP DOWN */
    .navbar-dropdown {
        display: none;
    }

    .navbar-dropdown.is-active {
        display: block;
    }
}


/* ABOUT HOME PAGE */

div.line {
    width: 1px;
    height: 50px;
    background: rgb(139 139 139 / 35%);
    margin: 0 auto;
    margin-bottom: 25px;
}

div.about__container {
    padding-top: 6rem;
}

@media screen and (min-width: 768px){
    h1.main-title {
        line-height: 70px;
    }
}

h2.main-title span {
    color: #5497df;
}

/* HOME PANELS */

div.panel__container {
    padding-top: 200px;
}

div.panel-inner-one,
div.panel-inner-two,
div.panel-inner-three {
    height: 70rem;
}

div.panel__container a {
    color: #fff;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}


.panel-inner-one {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/uploads/kitchen.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.panel-inner-one:hover a{
    background:rgb(0 0 0 / 71%);
    transition: all .3s ease-in-out;
}

.panel-inner-two {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/uploads/bath.jpg") no-repeat center;
    background-size:cover;
    position: relative;
}

.panel-inner-two:hover a{
    background:rgb(0 0 0 / 71%);
    transition: all .3s ease-in-out;
}

.panel-inner-three {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/uploads/kitchen2.jpg") no-repeat center;
    background-size:cover;
    position: relative;
}

.panel-inner-three:hover a{
    background:rgb(0 0 0 / 71%);
    transition: all .3s ease-in-out;
}

@media screen and (max-width:768px){
div.panel-inner-one,
div.panel-inner-two,
div.panel-inner-three {
    height: 20rem;
}

div.panel__container a {
    font-size: 2rem;
}
}

/* FEATURED */

.img-container {
    position: relative;
}

.img-container img {
    z-index: 4;
    position: relative;
}

.half-triangle {
    content: "";
    position: absolute;
    width: 0;
    bottom: -180px;
    height: 0;
    border-bottom: 400px solid rgb(84 151 223 / 21%);
    border-left: 400px solid transparent;
    right: -50px;
    z-index: 1;
  }

@media screen and (max-width: 768px){
    .half-triangle {
        border-bottom: 200px solid rgb(84 151 223 / 21%);
        border-left: 200px solid transparent;
        right: 0px;
    }
}

/* CLOSING  */

.text-bg:after {
    content: "CONTACT";
    position: absolute;
    font-size: 8rem;
    color:rgb(246 246 246 / 51%);
    z-index: -1;
    font-family: 'Sorts Mill Goudy', serif;
}

@media screen and (max-width: 768px){
    .text-bg:after {
        display: none;
    }
}

/* FOOTER */

 footer.footer {
     background: #1A1A1A;
     position: relative;
 }

 footer.footer:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 150px;
    background: rgba(151, 151, 151, .7);
    margin: 0 auto;
    left: 0;
    top: -75px;
    right: 0;
 }

 footer.footer p,
 footer.footer small {
     color: #bebebe;
 }

 .footer-credit a {
     color: #fff;
 }