{{ define "main" }}
<div class="big-section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <h1 class="title is-1">{{ .Title }}</h1>
            </div>
            <div class="column">
                <p>View portfolios of bathroom remodels</p>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="section">
    <div class="container is-fluid">
        <div class="columns is-multiline is-variable is-0">
            {{ range .Params.portfolio }}
            <div class="column is-4">
                <img src="{{ . }}" alt="">
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}