{{ define "main" }}
<div class="big-section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <h1 class="title is-1">{{ .Title }}</h1>
            </div>
            <div class="column">
                <p>Add beauty to your home with comprehensive tile work from CK Designs Kitchen and Bath. We handle floors, showers, backsplashes, and more! During our complimentary in-home consultation, we’ll help you choose the perfect style for your new tile.</p>
            </div>
        </div>
        <hr>
        <div class="columns pt-6">
            <div class="column">
                <img src="/uploads/counter.jpeg" alt="granite kitchen counter top">
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="title is-2">Tile Flooring</h2>
                <p>Kitchens and bathrooms with ceramic tile boast a classic, elegant look that reflects the style of the homeowner. CK Designs offers tile in a variety of colors, styles, and manufacturers to perfectly match any redesign project.</p>
            </div>
        </div>
        <div class="columns has-text-centered pt-6">
            <div class="column">
                <h2 class="title is-2">Tile Backsplashes</h2>
                <p>Accent your counters with tile backsplashes from CK Designs. Available in an assortment of colors and styles, the right backsplash can complete the counter space for your new kitchen or bathroom. From the functional to the decorative, from mosaic style to a stone look, your backsplash should be just the element to bring your whole room design together!</p>
            </div>
        </div>
        <div class="columns has-text-centered pt-6">
            <div class="column">
                <h2 class="title is-2">Tile Showers</h2>
                <p>As opposed to a prefabricated shower stall, a custom-crafted tile shower will better compliment and complete the flow of your bathroom. CK Designs will design a tile shower based on your unique vision and help bring your designs to life. </p>
            </div>
        </div>
    </div>
</div>
{{ end }}