{{ define "main" }}
<div class="big-section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <h1 class="title is-1">{{ .Title }}</h1>
            </div>
            <div class="column">
                <p>Add beauty to your home with comprehensive tile work from CK Designs Kitchen and Bath. We handle floors, showers, backsplashes, and more! During our complimentary in-home consultation, we’ll help you choose the perfect style for your new tile.</p>
            </div>
        </div>
        <hr>
        <div class="columns pt-6">
            <div class="column has-text-centered">
                <img src="/uploads/flooring.jpg" alt="white small kitchen with green plant">
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
{{ end }}