{{ $footerContact := .Site.Data.profile.primary_contact }}
{{ $footerDesign := .Site.Data.design.footer }}
{{ $footerSocial := .Site.Data.profile.social_accounts }}
<footer class="footer">
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{ if $footerDesign.footer_logo }}
          <img src="{{ $footerDesign.footer_logo | absURL }}" alt="{{ .Site.Data.profile.company_name }}" width="150px" class="mb-5">
        {{ else }}
        {{ end }}
        <div class="columns">
          <div class="column">
            <p>Email</p>
            <a href="tel:{{ .Site.Data.profile.primary_contact.email }}" class="has-text-white">{{ .Site.Data.profile.primary_contact.email }}</a>
          </div>
          <div class="column">
            <p>Phone</p>
            <a href="tel:{{ .Site.Data.profile.primary_contact.phone }}" class="has-text-white">{{ .Site.Data.profile.primary_contact.phone }}</a>
          </div>
          <div class="column">
            <p>Social</p>
            <ul>
              {{ if $footerSocial.facebook }}<li class="is-inline mr-2"><a href="{{ $footerSocial.facebook }}" target="_blank" class="has-text-white">Facebook.</a></li>{{ end }}
              {{ if $footerSocial.instagram }}<li class="is-inline mr-2"><a href="{{ $footerSocial.instagram }}" target="_blank" class="has-text-white">Instagram.</a></li>{{ end }}
              {{ if $footerSocial.instagram }}<li class="is-inline mr-2"><a href="{{ $footerSocial.houzez }}" target="_blank" class="has-text-white">Houzz.</a></li>{{ end }}
              {{ if $footerSocial.twitter }}<li class="is-inline mr-2"><a href="{{ $footerSocial.twitter }}" target="_blank" class="has-text-white">Twitter.</a></li>{{ end }}
              {{ if $footerSocial.pinterest }}<li class="is-inline mr-2"><a href="{{ $footerSocial.pinterest }}" target="_blank" class="has-text-white">Pinterest.</a></li>{{ end }}
              {{ if $footerSocial.youtube }}<li class="is-inline mr-2"><a href="{{ $footerSocial.youtube }}" target="_blank" class="has-text-white">Youtube.</a></li>{{ end }}
              {{ if $footerSocial.linkedin }}<li class="is-inline mr-2"><a href="{{ $footerSocial.linkedin }}" target="_blank" class="has-text-white">Linkedin.</a></li>{{ end }}
              {{ if $footerSocial.yelp }}<li class="is-inline mr-2"><a href="{{ $footerSocial.yelp }}" target="_blank" class="has-text-white"0.>Yelp.</a></li>{{ end }}
            </ul>
          </div> 
        </div>
        <div class="columns">
          <div class="column is-4">
            {{ if $footerDesign.footer_bio }}
            <p class="pb-6">{{ $footerDesign.footer_bio }}</p>
          {{ end }}
          <!-- <ul>
            <li class="mb-2"><a href="" class="has-text-white">Terms of Use</a></li>
            <li class="mb-2"><a href="" class="has-text-white">Accessibility</a></li>
            <li class="mb-2"><a href="" class="has-text-white">Privacy Policy</a></li>
          </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="columns footer-credit">
      <div class="column has-text-centered-mobile">
        <small>&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}</small> &middot; <a href="https://hungryram.com" target="_blank">Website Developed by Hungry Ram</a>
      </div>
    </div>
  </div>
</div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>
<script src="{{.Site.BaseURL}}/js/lax.js"></script>
<script>
  // NAV DROP
// NAV
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});



// Check for click events on the navbar burger icon
$(".main-drop").click(function() {
  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
  $(".navbar-dropdown", this).toggleClass("is-active");
});
</script>
<script type='text/javascript' charset='utf-8'>
  window.liveSiteAsyncInit = function() {
    LiveSite.init({
      id : 'WI-VO6LDLZQ4RT6F3DR6KZ1'
    });
  };
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0],
        p = 'https://',
        r = Math.floor(new Date().getTime() / 1000000);
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = p + "d2ra6nuwn69ktl.cloudfront.net/assets/livesite.js?" + r;
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'livesite-jssdk'));
</script>
</body>
</html>