<div class="section">
    <div class="container">
        <div class="columns text-bg">
            <div class="column">
    
            </div>
            <div class="column lax" data-lax-preset="eager-200">
                <h2 class="title is-2 main-title">Ready to start a <span>project?</span></h2>
                <p>At CK Designs, we take as much pride in your home as you do! When you trust us with your next project, we guarantee unmatched dedication to a job well done and your complete satisfaction.</p>
                <br>
                <p>Give us a call today to learn more or to schedule your free in-home consultation!</p>
                <div class="columns pt-6">
                    <div class="column">
                        <a href="mailto:{{ .Site.Data.profile.primary_contact.email }}"><strong class="has-text-black">{{ .Site.Data.profile.primary_contact.email }}</strong></a>
                    </div>
                    <div class="column">
                        <a href="tel:{{ .Site.Data.profile.primary_contact.phone }}"><strong class="has-text-black">{{ .Site.Data.profile.primary_contact.phone }}</strong></a>
                    </div>
                </div>
                <div class="columns pt-4">
                    <div class="column">
                        <a href="https://live.vcita.com/site/ylhappdjno0mxiey/action/y21cntkughhrclxk?mode=embed" target="_blank"><strong class="has-text-black">Schedule</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>