<div class="big-section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <h1 class="title is-2 main-title">Tile Work, Flooring, Kitchens, and <span>Bathrooms</span></h1>
                <p>From building a new home to remodeling your kitchen or bathroom, CK Designs can do it all. Your home is your sanctuary; it should feel and function exactly how you’d like it to. We hold ourselves to some of the highest standards in the industry, and we’ll always strive to answer every question you may have. We’ll work with you to plan out exactly the solution you need to bring your vision to life!</p>
                <br>
                <p>There’s no job we can’t handle. CK Designs is your one-stop-shop for all your remodel and redesign needs.</p>
                <br>
                <br>
                <a href="/contact-information" class="primary-btn">Contact</a>
            </div>
            <div class="column">
                <div class="img-container has-text-right">
                    <p class="is-uppercase pb-2">Kitchen Design.</p>
                    <img src="/uploads/dark-kitchen.jpg" alt="">
                    <div class="half-triangle lax" data-lax-preset="eager-250"></div>
                </div>
            </div>
        </div>
    </div>
</div>
