{{ partial "global/navbar.html" . }}

<div class="home-slide">
{{ range .Site.Data.design.home_slideshow.slideshow }}
<section class="hero lax" style="background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url({{ .image }});height:100vh;background-size:cover;background-position:center" data-lax-bg-pos-y="0 0, vh 200 500">
  <!-- Hero head: will stick at the top -->


  <!-- Hero content: will be in the middle -->
  <div class="hero-body slide-content mt-6">
    <div class="container is-fluid has-text-centered">
      <div class="columns">
        <div class="column is-half has-text-white is-offset-one-quarter">
          <h1 class="title is-1 has-text-white hero-title is-uppercase is-size-3-mobile">{{ .heading }}</h1>
          {{ if .link }}<a href="{{ .link }}" class="hero-button has-text-white">{{ .link_text }}</a>{{ end }}
        </div>
      </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="section hero-foot">
    <div class="container is-fluid">
      <div class="columns has-text-left has-text-white is-mobile is-vcentered">
        <div class="column is-half">
          <ul>
              <li class="is-inline mr-3"><a href="/" class="has-text-white">Houezez.</a></li>
              <li class="is-inline mr-3"><a href="/" class="has-text-white">Facebook.</a></li>
          </ul>
        </div>
      </div>
      </div>
      </div>

</section>
{{ end }}
</div>