<div class="section about__container">
    <div class="container">
        <div class="columns pt-6">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                <h1 class="title is-1 main-title">Full Service Kitchen & Bath Design & Remodeling by <span>Carly Kalbrunner</span></h1>
                <div class="line"></div>
                <p>For complete expert top-to-bottom residential design in the Fayetteville, GA, and surrounding area, call on CK Designs Kitchen & Bath. We’re your locally owned and operated go-to for cabinetry, countertops, hardware, appliances, plumbing fixtures, lighting, tile backsplash, tile floor, tile showers, flooring, and more!</p>
                <br>
                <br>
                <a href="" class="primary-btn">Contact</a>
            </div>
        </div>
    </div>
</div>