<div class="panel__container">
    <div class="columns has-text-centered is-gapless has-text-white">
        <div class="column">
            <div class="panel-inner-one">
                <a href="/kitchen-remodels">Kitchens</a>
            </div>
        </div>
        <div class="column">
            <div class="panel-inner-two">
                <a href="/bathroom-remodels">Bathrooms</a>
            </div>
        </div>
        <div class="column">
            <div class="panel-inner-three">
                <a href="/cabinets-countertops-hardware/">Counters</a>
            </div>
        </div>
    </div>
</div>